{% load static %}
{% load link_holders %}
<div class="bg-info-menu animated fadeIn">
    <div class="bg-color">
        <div class="container">
            <div class="header_box">
                <div class="row align-items-center">
                  
                    <div class="col-sm-6 col-xl-3">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logo_gac_rb.png' %}" class="logo_ac" alt="">
                        </a>
                    </div>
                    <div class="col-sm-2 col-xl-1">
                        <div class="logo_ac_mob">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/ac_ctc_logo.png' %}" class="logo_ac_2" alt="">
                              
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <div class="header_phone">
                            <a href="tel: 8(347) 246-87-26" title="Позвонить">
                                <p class="text_phone">
                                    8(347) 246-87-26
                                </p>
                            </a>
                            <p class="text_phone_consultant">
                                Консультация специалиста
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <div class="feedback_button_header">
                            <a href="" class="feedback_header" data-toggle="modal" data-target="#modal-question">
                                Обратная связь
                            </a>
                        </div>  
                    </div>
                    <div class="col-sm-2 col-xl-3 remove">
                        <div class="box_logo_3">
                            <img src="{% static '/img/logo_2.png' %}"
                                title="Лауреат Премии Правительства РФ в области качества 2012 года" alt="">
                            <img src="{% static '/img/logo_3.png' %}"
                                title="Лауреат Премии СНГ 2013 года за достижения в области качества" alt="">
                            <img src="{% static '/img/logo_4.png' %}" title="Член Международного Института Сварки"
                                alt="">
                        </div>
                    </div>
                    <div class="col-sm-2 col-xl-1">
                        <div class="header_sasv">
                            <img src="{% static '/img/logo_sasv.png' %}"
                                title="Организации допущены к выполнению работ по аттестации сварочного производства"
                                class="logo_sasv" alt="">
                        </div>
                    </div>
                 
                </div>
            </div>


            {% include 'mainapp/includes/menu-bg-header.html' %}
         
        </div>
    </div>
</div>