{% load static %}
{% if center_photos %}
    <div class="box_background">
        <div class="container">
            <div class="row">
                <div class="col-xl-1">
                    <div class="left_line_headline"></div>
                </div>
                <div class="col-xl-6">
                    <p class="headline_text">Фотографии нашего центра</p>
                    <p class="subtitle">123</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="owl-carousel-gallery owl-theme">
                        {% for photo in center_photos %}
                            <a href="{{ photo.image.full.url }}" data-fancybox="images">
                                <img src="{{ photo.image.thumb.url }}" class="img-fluid" />
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
