{% load static %}
{% load link_holders %}
<div class="box_background_partners">
    <div class="container">
        <div class="row">
            <div class="col-xl-1">
                <div class="left_line_headline"></div>
            </div>
            <div class="col-xl-6">
                <p class="headline_text">Наши партнеры</p>
                <p class="subtitle">Многолетнее сотрудничество в области сварочного производства</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div id="owl-partners" class="owl-carousel owl-theme">
                {% for partner in partners %}
                    <div class="img-item img-fluid">
                        <img src="{{ partner.logo.url }}" alt="{{ partner.title }}">
                    </div>
                {% endfor %}
                {% comment %} <div class="img-item img-fluid">
                    <img src="{% static '/img/mechel.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bash.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/rgd.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bsk.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/ural.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/vnzm.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                        <img src="{% static '/img/bsk.png' %}" alt="">
                    </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/gazprom.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/nefaz.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/bsk.png' %}" alt="">
                </div>
                <div class="img-item img-fluid">
                    <img src="{% static '/img/bash.png' %}" alt="">
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
