// Спецификация

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff; 
    -webkit-font-smoothing: antialiased;
}

.container {
  @media (min-width: 360px) {
        max-width: 1570px;
    }
}

.box_inside_pages{
    padding: 50px 0px 50px;
    @media screen and (max-width: 435px) {
        padding: 25px 0px 25px;   
      }
}


.headline_inside_pages_line {
    border: 0.5px solid #39567e;
    margin-top: 35px;
    width: 95px;
    @media screen and (max-width: 435px) {
      display: none;
    }
}


.headline_inside_pages_text {   
    font-size: 45px;
    color: #39567e;
    text-transform: uppercase;
    margin-bottom: 5px;
    @media screen and (max-width: 435px) {
        margin-top: 15px;
        font-size: 20px
      }
}

.subtitle_inside_pages {
    font-size: 14px;
    margin-bottom: 35px;
    @media screen and (max-width: 435px) {
        margin-bottom: 0px; 
      }
}


.subtitle {
  font-size: 16px;
  margin-bottom: 35px;
  @media screen and (max-width: 435px) {
      margin-bottom: 15px;       
    }
}


.no-otstup{
    @media screen and (max-width: 992px) {
        margin: 0;
        padding: 0;
      }   
}

.remove{
    @media screen and (max-width: 992px) {
        display: none;
      }  
}

.remove_1200{
    @media screen and (max-width: 1200px) {
        display: none;
      }    
   
}


.box_background{
  background-color: #f3f3f3;
  padding: 50px 0px 50px;
  @media screen and (max-width: 435px) {
      padding: 25px 0px 25px;   
    }
}

.box_background_partners{
  padding: 50px 0px 50px;
  @media screen and (max-width: 435px) {
      padding: 25px 0px 25px;   
    }
}


.otstup_contacti{
  @media screen and (max-width: 1200px) {
    margin-top: 45px;
    margin-bottom: 45px;
}
}



//  Политика конфиденциальности

.header__political {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 450;
  color: #000;
  margin-top: 15px;

  @media screen and (max-width: 1199px) {
      margin-top: 15px;
  }

}

.footnote{
  font-size: 14px; 
  font-weight: 350;
  color: #d85555;
}

.political__text__small {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text_pynkt{
font-size: 14px;
font-weight: 450;
}

.line_end {
  border: 0.5px solid #ebebeb;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header_right_column{
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.box_right_column a{
text-decoration: none;
list-style-type: none;
font-size: 16px;
color: #000;
font-weight: 400;
line-height: 1.9;
&:hover{
  color: rgb(49, 104, 255);
  transition: 0.3s;
}
}

.sider_bar {
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(45vh);
}

.left_line_headline {
  border: 0.5px solid #39567e;
  margin-top: 35px;
  width: 95px;
  @media screen and (max-width: 992px) {
    display: none;     
  }
}

.caption_in_modal_window{
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 500;
  color: #000;
}

.text_in_a_modal_window{
  margin-bottom: 35px;
  font-size: 16px;
  width: 90%;
  font-weight: 450;
  color: #000;
  line-height: 1.8;
  margin-bottom: 5px;
  @media screen and (max-width: 992px) {
    width: 100%;  
  }
}

.text_in_a_modal_window ul{
  padding: 0px;
  line-height: 1.8;
  color: #d85555;
  font-weight: 350;
  margin-bottom: 15px;
}

.enter_system_edo::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  margin-top: 5px;
  background: url(/static/img/enter_system.png) center 0 no-repeat;
}

.enter_system_link{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-left: 25px;
}

.enter_system_edo a{
  text-decoration: none;
  color: #fff;
  @media screen and (max-width: 1200px) {
   margin-top: 15px;
   margin-bottom: 15px;
  }
}

.enter_system_edo {
  @media screen and (max-width: 1200px) {
   margin-top: 25px;
   margin-bottom: 25px;
  }
}



