.logo_spks{
    padding: 15px 0px 15px;   
}

.spks_logo{
    @media screen and (max-width: 1200px) {
        width: 250px;
     }
}

.ocenka_details_small_text{
    font-size: 18px;
    line-height: 1.8;
    color: #000;
}

.ocenka_details_medium_text{
    font-size: 20px;
    font-weight: 450;
    color: #000;
    margin-top: 25px;
}

.ocenka_details_highlighted_message{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #000;
    margin-left: 20px;
}

.ocenka_details_link_text{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}

.line_ocenka{
    border: 0.5px solid #b4b4b41f;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ocenka_link{
    font-size: 16px;
    margin-bottom: 25px;
}

.name{
    font-size: 16px;
    font-weight: 450;
}

.position{
    font-size: 14px;
}
