{% extends 'mainapp/base.html' %}
{% load static %}
{% block content  %}
    {% include 'mainapp/includes/modal-window.html' %}
    {% include 'mainapp/includes/service.html' %}
    {% comment %}
      {% include 'mainapp/includes/center-info.html' %}
    {% endcomment %}
    {% include 'mainapp/includes/evidence.html' %}
    {% comment %}
      {% include 'mainapp/includes/certified.html' %}
    {% endcomment %}
    {% include 'mainapp/includes/partners.html' %}
    {% include 'mainapp/includes/contacts.html' %}
{% endblock  %}
