{% extends 'mainapp/index.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_inside_pages" id="all_news">
    <div class="container">

        <div class="row">
            <div class="col-xl-1">
                <div class="headline_inside_pages_line"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_inside_pages_text">
                Профстандарты
                </p>
                <p class="subtitle_inside_pages">
                    Утвержденные стандарты в области сварки
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-1"></div>              
                <div class="col-xl-4">
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                    <div class="box__standart">
                        <p class="header__standart">
                            Профессиональный стандарт №1
                        </p>
                        <p class="name__standart">
                            Сварщик
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: 40.002
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            №14
                        </p>
                        <p class="info__standart">
                            Приказ Минтруда России № 701н от 28.11.2013 г., зарегистрирован Минюстом России 13.02.2014г.,
                            рег. № 31301
                        </p>
                        <button class="download__standart">
                            <a href="#" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>
                   
                </div>
               
            </div>
      
    </div>
</div>
{% endblock %}