{% extends 'mainapp/index.html' %}
{% load static %}
{% load link_holders %}
{% block content %}
<div class="box_inside_pages" id="all_news">
    <div class="container">

        <div class="row">
            <div class="col-xl-1">
                <div class="headline_inside_pages_line"></div>
            </div>

            <div class="col-xl-6">
                <p class="headline_inside_pages_text">
                Профстандарты
                </p>
                <p class="subtitle_inside_pages">
                    Утвержденные стандарты в области сварки
                </p>
            </div>
        </div>
        <div class="row">

        {% for ps in profstandards %}
                <div class="col-xl-6">
                    <div class="box__standart">
                        <p class="header__standart">
                            Профстандарт №{{ ps.number }}
                        </p>
                        <p class="name__standart">
                            {{ ps.title }}
                        </p>
                        <p class="info__standart">
                            Информация о стандарте
                        </p>
                        <p class="number__standart">
                            Код: {{ ps.info }}
                        </p>
                        <p class="info__standart">
                            Регистрационный номер
                        </p>
                        <p class="number__standart">
                            {{ ps.reg_number }}
                        </p>
                        <p class="info__standart">
                            {{ ps.mintrud_prikaz }}
                        </p>
                        <button class="download__standart">
                            <a href="{{ ps.document.url }}" class="button__standart" download="">Скачать</a>
                        </button>
                    </div>

                </div>
        {% endfor %}


            </div>

    </div>
</div>
{% endblock %}